<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <meta
            http-equiv="X-UA-Compatible"
            content="ie=edge"
        >
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <form
                action="/books/edit/<%= editedBook._id %>"
                method="POST"
            >
                <div>
                    Book Name:
                    <input
                        type="text"
                        name="name"
                        value="<%= editedBook.name %>"
                    >
                </div>
                <div>
                    Book Author:
                    <input
                        type="text"
                        name="author"
                        value="<%= editedBook.author %>" 
                    >
                </div>
                <div>
                    Book Price:
                    <input
                        type="number"
                        name="price"
                        value="<%= editedBook.price %>"
                    >
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
                <a href="/books" class="btn btn-primary">Cancel</a>
            </form>
        </div>
    </body>
</html>
