<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node js Express Tutorial</title>

	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <td><b>Name</b></td>
            <td><b>Quote</b></td>
            <td colspan="2"><b>Action</b></td>
          </tr>
        </thead>
        <tbody>
          
		  <% for(var i=0; i < quotes.length; i++) { %>
          <tr>
            <td><%= quotes[i].name %></td>
            <td><%= quotes[i].quote %></td>
            <td><a href="/quotes/edit/<%= quotes[i].id %>" class="btn btn-primary">Edit</a></td>
            <td><a href="/quotes/delete/<%= quotes[i].id %>" class="btn btn-danger">Delete</a></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>